@model TallinnaRakenduslikKolledge_Leib.Models.Instructor

@{
	ViewData["Title"] = "Vaata õpetajad";
}

<h1>Õpilase andmed</h1>
<div>
	<h4>Õpetaja @Model.FullName</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.FullName)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.FullName)</dd>
	</dl>
	<dl class="row">
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.HireDate)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.HireDate)</dd>
	</dl>
	<dl class="row">
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.Salary)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.Salary)</dd>
	</dl>

	@if (Model.OfficeAssignment != null)
	{
		<dl class="row">
			<dt class="col-sm-2">@Html.DisplayNameFor(model => model.OfficeAssignment)</dt>
			<dd class="col-sm-10">@Html.DisplayFor(model => model.OfficeAssignment)</dd>
		</dl>
	}
	@if (Model.Email != null)
	{
		<dl class="row">
			<dt class="col-sm-2">@Html.DisplayNameFor(model => model.Email)</dt>
			<dd class="col-sm-10">@Html.DisplayFor(model => model.Email)</dd>
		</dl>
	}
	@if (Model.PhoneNumber != null)
	{
		<dl class="row">
			<dt class="col-sm-2">@Html.DisplayNameFor(model => model.PhoneNumber)</dt>
			<dd class="col-sm-10">@Html.DisplayFor(model => model.PhoneNumber)</dd>
		</dl>
	}
</div>

<div>
	<a asp-action="Index">Tagasi Indexi</a>
</div>