@model TallinnaRakenduslikKolledge_Leib.Models.Course

@{
	ViewData["Title"] = "Kustuta Kursus";
}

<h1>Delete</h1>
<h3>
	Kas soovid kustutada @Html.DisplayFor(model => model.Title) kursus?
</h3>
<div>
	<h4>Kursus</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.CourseId)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.CourseId)</dd>

		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.Title)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.Title)</dd>

		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.DepartmentId)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.DepartmentId)</dd>

		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.Department)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.Department)</dd>

		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.Enrollments)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.Enrollments)</dd>

		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.CourseAssignments)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.CourseAssignments)</dd>
	</dl>

	<form asp-action="Delete">
		<input type="hidden" asp-for="CourseId" />
		<input type="submit" value="Kustuta" class="btn btn-danger" /> | <a asp-action="Index">Tühista</a>
	</form>
</div>